@using DemoMVC.Models.Entities
@model Order

<h2>Chi tiết đơn hàng</h2>

<p>Khách: @Model.Customer?.CustomerName</p>
<p>Ngày: @Model.OrderDate</p>

<table class="table">
    <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
    </tr>

    @foreach (var d in Model.OrderDetails!)
    {
        <tr>
            <td>@d.Product?.ProductName</td>
            <td>@d.Quantity</td>
            <td>@d.UnitPrice</td>
        </tr>
    }
</table>